table {
  width: 100%;
  border: 1px solid;
}
th,
td {
  border: 1px solid;
  font-size: 20px;
  padding: 5px;
}
div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form {
  box-shadow: 0 0 5px 2px;
  border-radius: 20px;
  padding: 40px;
  margin: 10px;
}
input {
  font-size: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

